<a href="https://colab.research.google.com/github/carer70/AlgorithmsUN2022II/blob/main/Quiz6/Quiz6_ALG_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *Group 5 Quiz 6*

## Members

1.   Carlos Isaza
2.   Daniel Qui√±ones
3.   Juan E. Cepeda

In [ ]:
import pandas as pd  
  
# assign data of lists.  
data = {'LMA': [  150, 120, 120 ,90, 80, 40,  103, 95, 95, 105], 
        'SMA': [15,30,12,10,25,30,32,35,25, 35] , 
        'R6M': [ -0.026669057627121146,  -0.0894036394370826 ,  -0.07412753460499291,  -0.17019350214480872, -0.2874441876429889,
                -0.28205321994336763,  -0.17656751726628425,  -0.20114237542777333, -0.21856589322766357, -0.12784107061682198], 
        'R2Y': [0.047268916294182735, 0.06922550873983395,  0.016829499368699357,  -0.12934369441547033, -0.12472606876091252,
                -0.21040403956146927,  0.017800131799059673,  -0.03614353864292326,  -0.0626398203141331, 0.04499091853956914]}  
  

# Create DataFrame  
df = pd.DataFrame(data)  

df['AR'] = (df['R6M'] + df['R2Y'])/2

df = df.sort_values(by=['AR'], ascending=False)
  
df

   LMA  SMA       R6M       R2Y        AR
0  150   15 -0.026669  0.047269  0.010300
1  120   30 -0.089404  0.069226 -0.010089
2  120   12 -0.074128  0.016829 -0.028649
9  105   35 -0.127841  0.044991 -0.041425
6  103   32 -0.176568  0.017800 -0.079384
7   95   35 -0.201142 -0.036144 -0.118643
8   95   25 -0.218566 -0.062640 -0.140603
3   90   10 -0.170194 -0.129344 -0.149769
4   80   25 -0.287444 -0.124726 -0.206085
5   40   30 -0.282053 -0.210404 -0.246229